h5py
keras
Keras-Preprocessing
opencv-python-headless
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-datasets
tensorflow-estimator
tensorflow
tensorflow-hub
tensorflow-io-gcs-filesystem
tensorflow-metadata
streamlit
somepackage; python_version >= '3.6'  # Correct
mysql-connector-python


